*{
    box-sizing: border-box;
}

.test-border {
    border: 1px solid red;
}


body{
    background-color: rgb(238, 219, 255);
    width: 100vw;
    height: 100vh;
}

.app {
    position: fixed;
    margin: 10%;
    width: 80%;
    height: 450px;

}

.main-window {
    border:1px solid cadetblue;
    padding: 3%;
    margin: 2rem auto auto auto;
    width: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    overflow-y: scroll;
    height: 100%;

}



.input{
    width: 300px;
}

.message{
    border: 2px solid tomato;
    border-radius: 15px;
    width: fit-content;
    padding: 10px;
}

.this-is-me{
    margin: auto 0 auto auto;
}

.message-div{
    width: fit-content;
}

.chat-form {
    text-align: center;
}